body {
  font-size: 12px;
  font-family: Arial;
  background-color: lightgrey;
}

#heading_resume {
  color: darkgoldenrod;
  font-size: 32px;
  font-style: italic;
  text-align: center;
}

.heading_sub {
  background-color: darkgoldenrod;
  font-size: 16px;
  color: white;
}

tr.text_centre {
  text-align: center;
}

tr.table_heading {
  font-size: 14px;
}
td {
  border: 1px solid brown;
  padding: 5px;
}
th {
  border: 1px solid brown;
  padding: 5px;
}
table {
  border-collapse: collapse;
}
div#name_decl {
  font-size: 20px;
  text-align: right;
}
